<a href="https://colab.research.google.com/github/jbauermanncode/Alura/blob/main/Introdu%C3%A7%C3%A3o_a_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [3]:
idades = [39, 30, 27]

In [4]:
type(idades)

list

In [5]:
idades.insert(0, 20)  
idades

[20, 39, 30, 27]

In [6]:
idades.insert(2, 18)
idades

[20, 39, 18, 30, 27]

In [ ]:
idades.append(19)
idades

[20, 39, 18, 30, 27, 19]

In [ ]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [ ]:
idades.append([27, 19])
idades

[20, 39, 18, [27, 19]]

In [ ]:
for elemento in idades:
  print('Recebi o elemento', elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento [27, 19]

In [ ]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [ ]:
for idade in idades:
  print(idade + 1)

21
40
19
28
20

In [ ]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade + 1)
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [ ]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [ ]:
[(idade) for idade in idades if idade > 21]

[39, 27]

In [ ]:
idades

[20, 39, 18, 27, 19]

In [ ]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [ ]:
def faz_processamento_de_vizualizacao(lista):
  print(len(lista))
  lista.append(13)

In [ ]:
idades = [16, 21, 29, 56,43]
faz_processamento_de_vizualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

Objetos próprios

In [56]:
class ContaCorrente:

  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return '[>>Codigo {} Saldo {}<<]'.format(self.codigo, self.saldo)

In [57]:
conta_do_jo = ContaCorrente(15)
print(conta_do_jo)

[>>Codigo 15 Saldo 0<<]

In [58]:
conta_do_jo.deposita(500)
print(conta_do_jo)

[>>Codigo 15 Saldo 500<<]

In [59]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>Codigo 47685 Saldo 1000<<]

In [60]:
contas = [conta_do_jo, conta_da_dani]
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 500<<]
[>>Codigo 47685 Saldo 1000<<]

In [61]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta_do_jo, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)

print(contas[0], contas[1])

[>>Codigo 15 Saldo 500<<] [>>Codigo 47685 Saldo 1000<<]
[>>Codigo 15 Saldo 600<<] [>>Codigo 47685 Saldo 1100<<]

In [62]:
contas.insert(0, 76)
print(contas[0], contas[1], contas[2])

76 [>>Codigo 15 Saldo 600<<] [>>Codigo 47685 Saldo 1100<<]

In [63]:
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2])

AttributeError: ignored

In [64]:
josue = ('Josué', 30, 1990) #tupla
daniela = ('Daniela', 31, 1987)

In [ ]:
conta_do_jo = (15, 1000)
# conta_do_jo.deposita() # variação OO
conta_do_jo[1]

1000

In [ ]:
#conta_do_jo[1] += 100

TypeError: ignored

In [ ]:
def deposita(conta): #variação "funcional"(separando o comportamento dos dados)
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [ ]:
deposita(conta_do_jo)

(15, 1100)

In [ ]:
conta_do_jo

(15, 1000)

In [ ]:
conta_do_jo = deposita(conta_do_jo)
conta_do_jo

(15, 1100)

In [ ]:
usuarios = [josue, daniela]
usuarios

[('Josué', 30, 1990), ('Daniela', 31, 1987)]

In [ ]:
usuarios.append(('Paulo', 39, 1979))

In [ ]:
usuarios

[('Josué', 30, 1990), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

In [ ]:
usuarios[0]

('Josué', 30, 1990)

In [ ]:
conta_do_jo = ContaCorrente(15)
conta_do_jo.deposita(500)

conta_da_dani = ContaCorrente(234876)
conta_da_dani.deposita(1000)

contas = (conta_do_jo, conta_da_dani)

In [ ]:
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 500<<]
[>>Codigo 234876 Saldo 1000<<]

In [ ]:
contas[0].deposita(300)

In [ ]:
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 800<<]
[>>Codigo 234876 Saldo 1000<<]

# Herança e Polimorfismo

In [55]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
    return '[>>Codigo {} Saldo {}<<]'.format(self._codigo, self._saldo)

In [ ]:
print(Conta(88))

TypeError: ignored

In [ ]:
class ContaCorrente(Conta):
  
  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):

  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [ ]:
ContaInvestimento(764)

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)

conta17 = ContaPoupanca(17)
conta17.deposita(1000)

contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes() # duck typing
  print(conta)

[>>Codigo 16 Saldo 998<<]
[>>Codigo 17 Saldo 1007.0<<]

# evitaremos usar array puro, se precisarmos de trabalho numérico é costume utilizar a biblioteca ***numpy***

In [7]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [8]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [9]:
import numpy as np

numeros = np.array([1, 3.5])

numeros

array([1. , 3.5])

In [10]:
numeros + 3

array([4. , 6.5])

In [47]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):

    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return f'[>>Codigo {self._codigo} Saldo{self._saldo}]'

In [48]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [49]:
conta1 != conta2

False

In [50]:
conta1 in [conta2]

True

In [51]:
conta2 in [conta1]

True

In [52]:
conta1.deposita(10)

In [53]:
conta1 == conta2

False

In [54]:
isinstance(ContaCorrente(34), ContaCorrente)

NameError: ignored

In [ ]:
isinstance(ContaCorrente(34), Conta)

In [19]:
isinstance(ContaCorrente(34), ContaSalario)

NameError: ignored

In [ ]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i)

In [20]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [21]:
range(len(idades)) #lazy...

range(0, 8)

In [22]:
enumerate(idades) #lazy...

In [23]:
list(range(len(idades))) #forcei a geração dos valores

[0, 1, 2, 3, 4, 5, 6, 7]

In [24]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [25]:
for indice, idade in enumerate(idades): #unpacking da nossa tupla
  print(indice, 'x', idade)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [26]:
usuarios = [
            ("Guilherme", 37, 1981),
            ("Daniela", 31, 1987),
            ("Paulo", 39, 1979)
]

for nome, idade, nascimento in usuarios: #ja desempacotando
  print(nome)

Guilherme
Daniela
Paulo

In [27]:
for nome, _, _ in usuarios: #ja desempacotando, ignorando o resto
  print(nome)

Guilherme
Daniela
Paulo

In [28]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [29]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [30]:
15 < 32

True

In [31]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [32]:
sorted(idades, reverse= True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [33]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [34]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [35]:
idades.sort()

In [36]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

In [37]:
15<32

True

In [38]:
nomes = ['Guilherme', 'Daniela', 'Paulo']
sorted(nomes)

['Daniela', 'Guilherme', 'Paulo']

In [46]:
nomes = ['guilherme', 'Daniela', 'Paulo']
sorted(nomes)

['Daniela', 'Paulo', 'guilherme']

In [66]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):

    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return f'[>>Codigo {self._codigo} Saldo {self._saldo}>>]'

In [65]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

for conta in contas:
  print(conta)for conta in sorted(contas, key = extrai_saldo ):
  print(conta)

SyntaxError: ignored

In [ ]:
def extrai_saldo(conta):
  return conta._saldo

for conta in sorted(contas, key = extrai_saldo ):
  print(conta)

[>>Codigo 17 Saldo 500>>]
[>>Codigo 133 Saldo 510>>]
[>>Codigo 3 Saldo 1000>>]

In [76]:
from operator import attrgetter

for conta in sorted(contas, key = attrgetter('_saldo' )):
  print(conta)

[>>Codigo 1700 Saldo 500>>]
[>>Codigo 133 Saldo 500>>]
[>>Codigo 3 Saldo 1000>>]

In [67]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):

    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return f'[>>Codigo {self._codigo} Saldo {self._saldo}>>]'

In [68]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [69]:
conta_do_guilherme < conta_da_daniela

True

In [70]:
conta_do_guilherme > conta_da_daniela

False

In [71]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 17 Saldo 500>>]
[>>Codigo 133 Saldo 510>>]
[>>Codigo 3 Saldo 1000>>]

In [72]:
for conta in sorted(contas, reverse=True):
  print(conta)

[>>Codigo 3 Saldo 1000>>]
[>>Codigo 133 Saldo 510>>]
[>>Codigo 17 Saldo 500>>]

In [73]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [77]:
for conta in sorted(contas, key=attrgetter('_saldo', '_codigo')):
  print(conta)

[>>Codigo 133 Saldo 500>>]
[>>Codigo 1700 Saldo 500>>]
[>>Codigo 3 Saldo 1000>>]

In [83]:
from functools import total_ordering

@total_ordering
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):

    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return f'[>>Codigo {self._codigo} Saldo {self._saldo}>>]'

In [81]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [82]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 3 Saldo 500>>]
[>>Codigo 133 Saldo 500>>]
[>>Codigo 1700 Saldo 500>>]

In [84]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [85]:
conta_do_guilherme <= conta_da_daniela

True

In [86]:
conta_do_guilherme <= conta_do_paulo

False

In [87]:
conta_do_guilherme < conta_do_guilherme

False

In [88]:
conta_do_guilherme == conta_do_guilherme

True

In [89]:
conta_do_guilherme <= conta_do_guilherme

True